@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif, 'Roobert TRIAL';
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  padding: 2rem;
}

footer {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: auto;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
span {
  font: 'Roobert TRIAL';
}

.section_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-left: 2rem;
  padding-right: 2rem;
}

h1, h2, h3, h4, p {
  font-family: 'Roobert TRIAL';
}

.main_input::placeholder {
  transition: opacity 0.1s ease-in-out;
}

.main_input:focus::placeholder {
  opacity: 0;
}

.location_input:focus::placeholder {
  color: #1a1b1c99;
  font-weight: 200;
  opacity: .6;
}


.square {
  background-image: 
  repeating-linear-gradient(-18deg, #58595a, #58595a 1px, #0000 0, #0000 5px, #58595a 0), 
  repeating-linear-gradient(72deg, #58595a, #58595a 1px, #0000 0, #0000 5px, #58595a 0), 
  repeating-linear-gradient(162deg, #58595a, #58595a 1px, #0000 0, #0000 5px, #58595a 0), 
  repeating-linear-gradient(252deg, #58595a, #58595a 1px, #0000 0, #0000 5px, #58595a 0);
    background-position: 100% 0, 100% 100%, 0% 100%, 0 0;
    background-repeat: no-repeat;
    background-size: 1px 0%, 0% 1px, 1px 0%, 0% 1px; 
}


/* ROOBERT TRIAL FONT FAMILY */

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-Bold.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-BoldItalic.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-LightItalic.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-HeavyItalic.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-Heavy.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-Light.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-Medium.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-RegularItalic.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-SemiBold.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-MediumItalic.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-Regular.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-SemiBoldItalic.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Roobert TRIAL';
  src: url('/fonts/RoobertTRIAL-Light.woff2') format('woff2'),
      url('/fonts/RoobertTRIAL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

